<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO STEM - For Students</title>
    <meta name="description" content="The Greater Oregon STEM Hub (GO-STEM) is one of 13 STEM hubs in Oregon working to bring together the resources of education and industry in support of STEM learning environments and career opportunities.">
    <meta name="keywords" content="GO, Greater, Oregon, STEM, Hub, GO-STEM, go-stem, go, stem, oregon, greater, about">
    <meta name="author" content="GO STEM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/profile.css">

    <script src="/main.js"></script>

    <%- include('./frags/includes.ejs') %>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .coll-btn {
            width: 100%;
            border: none;
            text-align: center;
            text-decoration: none;
            background-color: white;
        }

        .collapse img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>

<%- include('./frags/navbar.ejs') %> 

<div class="header container-flex">
    <header>
        <h2> <%- page %> </h2>
    </header>
</div>

<div class="body container about" style="text-align: justify;" aria-label="for students section">    <div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh; margin-top: 2vh;">
    <div class="profile ">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md container-flex">
                        <h3>What are you looking for?</h3>
                        <hr>
                        <h4><b>STEM.</b></h4>
                        <p>Information about STEM? Here is a resource pages that will support your needs to learn about STEM as a collaboration of disciplines.</p>
                        
                        <button class="btn coll-btn" type="button" data-toggle="collapse" data-target="#collapseStem" aria-expanded="false" aria-controls="collapseExample">
                            Click to see!
                        </button>

                        
                        <div class="collapse" id="collapseStem">
                            <div>
                                <br>

                                <p><b>How can you best understand the idea of STEM? One way is to see STEM in action in a real community project:</b></p>
                            
                                <h3>A River Greenway: A Community STEM Project</h3>
                                
                                <img src="/Greenway.webp" class="img-fluid" alt="the grande ronde river flowing between farmland">

                                <p>The Grande Ronde River once meandered through the large horst graben Grande Ronde Valley  in north east Oregon with oxbows much like that of the current path of Catherine Creek ( See the above photo).   In the late 1860’s a large loop of the Grande Ronde River was ditched to drain land for agriculture and to protect some residential and business developments from seasonal flooding.  To assist in logging, river was also dammed to the west, filled with floating logs and then each spring the dams would be exploded so logs would careen down the river gouging everything in their path. During the mid 20th century and up until the 1980’s the ditch or canal was mined for its sand and gravel.  As the years passed the canal deepened from the effects of mining causing steep banks and the need for reinforcements on the margins. For many years the river seemed sterile–a causeway for commerce.</p>

                                <p>Even though assailed by progress and abuse, the river survived.  With the advent of protective inland waters legislation the river has started to recover showing a great deal of beauty and aesthetic appeal.  Wildlife clings to the riparian areas along its banks and fishermen and hikers enjoy poking about on the margins. Riverside Park, in La Grande, borders the river to the west. The city has installed a short trail section near the river and a bridge that allows walkers and bikers to enjoy the vista from mid stream. Island City, about a mile down river to the east, plans to create another park similar to Riverside and to connect their park to La Grande’s with a Greenway.  City and county officials have secured some funds to pay for infrastructure and have drawn-up ideas about how the trail might hug the river from La Grande to Island City. How then is this a Community STEM challenge you might ask?</p>

                                <p>Engineers examined the planned route and then calculated the amount and kind of fill necessary, the make-up of the potential project bridge, and the composition and preparation for the path itself. The engineers alone could not conduct this work without considering the aesthetics, safety, legality, and utility of their design. Engineers must also consider the kind of materials and different technology available to solve specific problems: Whether to use metal netting to contain bank stabilizing riprap, the materials to be considered for a bridge and the long-term considerations for maintenance, and whether pre-fabricated, elevated concrete walkways may solve certain problems when placing the trail near the water.</p>

                                <p>The Greenway committee had to deal with the overall applied mathematics of the project. What were the features of each option and how would the committee recommend one route over another?  Surveys, rating systems, and statistical analyses were required to help bring the best solution forward. And, almost the most important variable, what were the costs associated with the project?  Careful prediction of cost per square foot of trail and each additional feature required had to be computed.</p>

                                <p>Science professionals assessed the natural ecosystem that were impacted by human intervention. Aquatic creatures and the riparian areas can be altered, damaged, or ruined. Understanding the science of the river system, the plants and animals, the water ebb and flow, and the riparian ecosystem becomes a critical part of understanding the river and concern for a human pathway.  Impact analyses, reports and permits are required to assess the scientific impact of the project.</p>

                                <p>Of course, the STEM disciplines only provided the background facts.  The city, county and State officials and landowners still have to consider property owners, easements, land use restrictions, and other technical matters.  The Greenway project is a real example of how STEM professionals inform and shape problem solving within a meaningful context. It is the kind of critical thinking we hope our students will do and the kind of learning we expect as they acquire knowledge and skills in the STEM disciplines.</p>

                                <p>STEM is more that just the four disciplines. It is the application of those disciplines in how we approach issues, problems and challenges by using each of these where applicable. Sometimes problems do not need the application of all STEM disciplines equally. Consider this example:</h4>

                                <p>Here we see engineers working on a problem looking for a specific solution. Although the science of CO2 build up, the mathematics of the rate of increase and the technology of the device are backdrops to this, we are concentrating on the engineering problem.</p>

                                <p>As we think about STEM, each discipline brings a different perspective to any issue. Scientists bring information, concepts, data and pure inquiry and skepticism to a challenge. Science is primarily interested in discovering why thing are and to discover laws and concepts that describe natural phenomena. Mathematicians have a similar perspective. How things can be described in algorithms or patterns is one way mathematicians work. For both scientists and mathematicians, application is not always a requirement. They can explore and discover without an imperative. Those interested in technology are usually more pragmatic. These professional use materials, methods and processes to do things in more efficient ways. Technologists often find new applications for circuits, devices or materials. Engineers are somewhat different. They are most always stimulated by a need, project or problem. Their interest is in figuring out a solution given the situation or sideboards to the problem.</p>

                                <h3>PANDEMIC</h3>

                                <p>It often takes all these perspectives when confronted with a problem. How is the current pandemic an issue for STEM? It is a perfect example. Scientists are scrambling to understand the virus and how it operates. They conduct experiments, do analyses and discover new information about the virus and how it effects people. These scientists include research doctors, immunologists, epidemiologists, virologists, and microbiologists. Mathematicians are scrambling to understand the impact of the diseases in terms of human concerns, infections, economic problems. These mathematicians include statisticians, modelers, and accountants. Technologists are scrambling to discover new ways to make masking materials to delimit the spread of the virus. They test new materials and find novel solutions to affixing masks and shield for protection. Engineers are scrambling to design machinery that can be used to better ventilate patients. The disease impacts lung capacity to transfer oxygen, so how can a machine be designed to better transfer the gas into the lungs without harming the patient. It takes all these professionals working together to address the challenge.</p>

                                <p>If you are interested in STEM and want to learn more about how STEM operates in real time, see <a href="https://sites.google.com/a/eou.edu/stem-stories/home">this site</a> for a series of stories and activities that demonstrate how these disciplines work together.​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
<div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh; margin-top: 2vh;">
    <div class="profile ">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md">
                        <h4><b>CLUBS.</b></h4>

                        <p>Information about how to develop an after school club or STEM group at your school or campus? This page will direct you to several resources that can help you get a project going.</p>

                        <button class="btn coll-btn" type="button" data-toggle="collapse" data-target="#collapseClubs" aria-expanded="false" aria-controls="collapseExample">
                            Click to see!
                        </button>

                        
                        <div class="collapse" id="collapseClubs">
                            <div>
                                <br>

                                <p><b>How can you best understand the idea of STEM? One way is to see STEM in action in a real community project:</b></p>
                            
                                <h3>A River Greenway: A Community STEM Project</h3>
                                
                                <img src="/Greenway.webp" class="img-fluid" alt="the grande ronde river flowing between farmland">

                                <p>The Grande Ronde River once meandered through the large horst graben Grande Ronde Valley  in north east Oregon with oxbows much like that of the current path of Catherine Creek ( See the above photo).   In the late 1860’s a large loop of the Grande Ronde River was ditched to drain land for agriculture and to protect some residential and business developments from seasonal flooding.  To assist in logging, river was also dammed to the west, filled with floating logs and then each spring the dams would be exploded so logs would careen down the river gouging everything in their path. During the mid 20th century and up until the 1980’s the ditch or canal was mined for its sand and gravel.  As the years passed the canal deepened from the effects of mining causing steep banks and the need for reinforcements on the margins. For many years the river seemed sterile–a causeway for commerce.</p>

                                <p>Even though assailed by progress and abuse, the river survived.  With the advent of protective inland waters legislation the river has started to recover showing a great deal of beauty and aesthetic appeal.  Wildlife clings to the riparian areas along its banks and fishermen and hikers enjoy poking about on the margins. Riverside Park, in La Grande, borders the river to the west. The city has installed a short trail section near the river and a bridge that allows walkers and bikers to enjoy the vista from mid stream. Island City, about a mile down river to the east, plans to create another park similar to Riverside and to connect their park to La Grande’s with a Greenway.  City and county officials have secured some funds to pay for infrastructure and have drawn-up ideas about how the trail might hug the river from La Grande to Island City. How then is this a Community STEM challenge you might ask?</p>

                                <p>Engineers examined the planned route and then calculated the amount and kind of fill necessary, the make-up of the potential project bridge, and the composition and preparation for the path itself. The engineers alone could not conduct this work without considering the aesthetics, safety, legality, and utility of their design. Engineers must also consider the kind of materials and different technology available to solve specific problems: Whether to use metal netting to contain bank stabilizing riprap, the materials to be considered for a bridge and the long-term considerations for maintenance, and whether pre-fabricated, elevated concrete walkways may solve certain problems when placing the trail near the water.</p>

                                <p>The Greenway committee had to deal with the overall applied mathematics of the project. What were the features of each option and how would the committee recommend one route over another?  Surveys, rating systems, and statistical analyses were required to help bring the best solution forward. And, almost the most important variable, what were the costs associated with the project?  Careful prediction of cost per square foot of trail and each additional feature required had to be computed.</p>

                                <p>Science professionals assessed the natural ecosystem that were impacted by human intervention. Aquatic creatures and the riparian areas can be altered, damaged, or ruined. Understanding the science of the river system, the plants and animals, the water ebb and flow, and the riparian ecosystem becomes a critical part of understanding the river and concern for a human pathway.  Impact analyses, reports and permits are required to assess the scientific impact of the project.</p>

                                <p>Of course, the STEM disciplines only provided the background facts.  The city, county and State officials and landowners still have to consider property owners, easements, land use restrictions, and other technical matters.  The Greenway project is a real example of how STEM professionals inform and shape problem solving within a meaningful context. It is the kind of critical thinking we hope our students will do and the kind of learning we expect as they acquire knowledge and skills in the STEM disciplines.</p>

                                <p>STEM is more that just the four disciplines. It is the application of those disciplines in how we approach issues, problems and challenges by using each of these where applicable. Sometimes problems do not need the application of all STEM disciplines equally. Consider this example:</h4>

                                <p>Here we see engineers working on a problem looking for a specific solution. Although the science of CO2 build up, the mathematics of the rate of increase and the technology of the device are backdrops to this, we are concentrating on the engineering problem.</p>

                                <p>As we think about STEM, each discipline brings a different perspective to any issue. Scientists bring information, concepts, data and pure inquiry and skepticism to a challenge. Science is primarily interested in discovering why thing are and to discover laws and concepts that describe natural phenomena. Mathematicians have a similar perspective. How things can be described in algorithms or patterns is one way mathematicians work. For both scientists and mathematicians, application is not always a requirement. They can explore and discover without an imperative. Those interested in technology are usually more pragmatic. These professional use materials, methods and processes to do things in more efficient ways. Technologists often find new applications for circuits, devices or materials. Engineers are somewhat different. They are most always stimulated by a need, project or problem. Their interest is in figuring out a solution given the situation or sideboards to the problem.</p>

                                <h3>PANDEMIC</h3>

                                <p>It often takes all these perspectives when confronted with a problem. How is the current pandemic an issue for STEM? It is a perfect example. Scientists are scrambling to understand the virus and how it operates. They conduct experiments, do analyses and discover new information about the virus and how it effects people. These scientists include research doctors, immunologists, epidemiologists, virologists, and microbiologists. Mathematicians are scrambling to understand the impact of the diseases in terms of human concerns, infections, economic problems. These mathematicians include statisticians, modelers, and accountants. Technologists are scrambling to discover new ways to make masking materials to delimit the spread of the virus. They test new materials and find novel solutions to affixing masks and shield for protection. Engineers are scrambling to design machinery that can be used to better ventilate patients. The disease impacts lung capacity to transfer oxygen, so how can a machine be designed to better transfer the gas into the lungs without harming the patient. It takes all these professionals working together to address the challenge.</p>

                                <p>If you are interested in STEM and want to learn more about how STEM operates in real time, see <a href="https://sites.google.com/a/eou.edu/stem-stories/home">this site</a> for a series of stories and activities that demonstrate how these disciplines work together.​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    
<div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh; margin-top: 2vh;">
    <div class="profile ">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md">
                        <h4><b>EDUCATION.</b></h4>

                        <p>Information about how you can develop the right educational track to prepare for a STEM career? This page outlines that kind of schooling you will need depending on your interests.</p>

                        <button class="btn coll-btn" type="button" data-toggle="collapse" data-target="#collapseEdu" aria-expanded="false" aria-controls="collapseExample">
                            Click to see!
                        </button>

                        
                        <div class="collapse" id="collapseEdu">
                            <div>
                                <br>

                                <p><b>How can you best understand the idea of STEM? One way is to see STEM in action in a real community project:</b></p>
                            
                                <h3>A River Greenway: A Community STEM Project</h3>
                                
                                <img src="/Greenway.webp" class="img-fluid" alt="the grande ronde river flowing between farmland">

                                <p>The Grande Ronde River once meandered through the large horst graben Grande Ronde Valley  in north east Oregon with oxbows much like that of the current path of Catherine Creek ( See the above photo).   In the late 1860’s a large loop of the Grande Ronde River was ditched to drain land for agriculture and to protect some residential and business developments from seasonal flooding.  To assist in logging, river was also dammed to the west, filled with floating logs and then each spring the dams would be exploded so logs would careen down the river gouging everything in their path. During the mid 20th century and up until the 1980’s the ditch or canal was mined for its sand and gravel.  As the years passed the canal deepened from the effects of mining causing steep banks and the need for reinforcements on the margins. For many years the river seemed sterile–a causeway for commerce.</p>

                                <p>Even though assailed by progress and abuse, the river survived.  With the advent of protective inland waters legislation the river has started to recover showing a great deal of beauty and aesthetic appeal.  Wildlife clings to the riparian areas along its banks and fishermen and hikers enjoy poking about on the margins. Riverside Park, in La Grande, borders the river to the west. The city has installed a short trail section near the river and a bridge that allows walkers and bikers to enjoy the vista from mid stream. Island City, about a mile down river to the east, plans to create another park similar to Riverside and to connect their park to La Grande’s with a Greenway.  City and county officials have secured some funds to pay for infrastructure and have drawn-up ideas about how the trail might hug the river from La Grande to Island City. How then is this a Community STEM challenge you might ask?</p>

                                <p>Engineers examined the planned route and then calculated the amount and kind of fill necessary, the make-up of the potential project bridge, and the composition and preparation for the path itself. The engineers alone could not conduct this work without considering the aesthetics, safety, legality, and utility of their design. Engineers must also consider the kind of materials and different technology available to solve specific problems: Whether to use metal netting to contain bank stabilizing riprap, the materials to be considered for a bridge and the long-term considerations for maintenance, and whether pre-fabricated, elevated concrete walkways may solve certain problems when placing the trail near the water.</p>

                                <p>The Greenway committee had to deal with the overall applied mathematics of the project. What were the features of each option and how would the committee recommend one route over another?  Surveys, rating systems, and statistical analyses were required to help bring the best solution forward. And, almost the most important variable, what were the costs associated with the project?  Careful prediction of cost per square foot of trail and each additional feature required had to be computed.</p>

                                <p>Science professionals assessed the natural ecosystem that were impacted by human intervention. Aquatic creatures and the riparian areas can be altered, damaged, or ruined. Understanding the science of the river system, the plants and animals, the water ebb and flow, and the riparian ecosystem becomes a critical part of understanding the river and concern for a human pathway.  Impact analyses, reports and permits are required to assess the scientific impact of the project.</p>

                                <p>Of course, the STEM disciplines only provided the background facts.  The city, county and State officials and landowners still have to consider property owners, easements, land use restrictions, and other technical matters.  The Greenway project is a real example of how STEM professionals inform and shape problem solving within a meaningful context. It is the kind of critical thinking we hope our students will do and the kind of learning we expect as they acquire knowledge and skills in the STEM disciplines.</p>

                                <p>STEM is more that just the four disciplines. It is the application of those disciplines in how we approach issues, problems and challenges by using each of these where applicable. Sometimes problems do not need the application of all STEM disciplines equally. Consider this example:</h4>

                                <p>Here we see engineers working on a problem looking for a specific solution. Although the science of CO2 build up, the mathematics of the rate of increase and the technology of the device are backdrops to this, we are concentrating on the engineering problem.</p>

                                <p>As we think about STEM, each discipline brings a different perspective to any issue. Scientists bring information, concepts, data and pure inquiry and skepticism to a challenge. Science is primarily interested in discovering why thing are and to discover laws and concepts that describe natural phenomena. Mathematicians have a similar perspective. How things can be described in algorithms or patterns is one way mathematicians work. For both scientists and mathematicians, application is not always a requirement. They can explore and discover without an imperative. Those interested in technology are usually more pragmatic. These professional use materials, methods and processes to do things in more efficient ways. Technologists often find new applications for circuits, devices or materials. Engineers are somewhat different. They are most always stimulated by a need, project or problem. Their interest is in figuring out a solution given the situation or sideboards to the problem.</p>

                                <h3>PANDEMIC</h3>

                                <p>It often takes all these perspectives when confronted with a problem. How is the current pandemic an issue for STEM? It is a perfect example. Scientists are scrambling to understand the virus and how it operates. They conduct experiments, do analyses and discover new information about the virus and how it effects people. These scientists include research doctors, immunologists, epidemiologists, virologists, and microbiologists. Mathematicians are scrambling to understand the impact of the diseases in terms of human concerns, infections, economic problems. These mathematicians include statisticians, modelers, and accountants. Technologists are scrambling to discover new ways to make masking materials to delimit the spread of the virus. They test new materials and find novel solutions to affixing masks and shield for protection. Engineers are scrambling to design machinery that can be used to better ventilate patients. The disease impacts lung capacity to transfer oxygen, so how can a machine be designed to better transfer the gas into the lungs without harming the patient. It takes all these professionals working together to address the challenge.</p>

                                <p>If you are interested in STEM and want to learn more about how STEM operates in real time, see <a href="https://sites.google.com/a/eou.edu/stem-stories/home">this site</a> for a series of stories and activities that demonstrate how these disciplines work together.​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh; margin-top: 2vh;">
    <div class="profile ">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md">
                        <h4><b>PROJECTS.</b></h4>

                        <p>Information about how you can do a STEM project in your school or community? This page connects you to the resources you need to make a difference in your community.</p>

                        <button class="btn coll-btn" type="button" data-toggle="collapse" data-target="#collapseProj" aria-expanded="false" aria-controls="collapseExample">
                            Click to see!
                        </button>

                        
                        <div class="collapse" id="collapseProj">
                            <div>
                                <br>

                                <p><b>How can you best understand the idea of STEM? One way is to see STEM in action in a real community project:</b></p>
                            
                                <h3>A River Greenway: A Community STEM Project</h3>
                                
                                <img src="/Greenway.webp" class="img-fluid" alt="the grande ronde river flowing between farmland">

                                <p>The Grande Ronde River once meandered through the large horst graben Grande Ronde Valley  in north east Oregon with oxbows much like that of the current path of Catherine Creek ( See the above photo).   In the late 1860’s a large loop of the Grande Ronde River was ditched to drain land for agriculture and to protect some residential and business developments from seasonal flooding.  To assist in logging, river was also dammed to the west, filled with floating logs and then each spring the dams would be exploded so logs would careen down the river gouging everything in their path. During the mid 20th century and up until the 1980’s the ditch or canal was mined for its sand and gravel.  As the years passed the canal deepened from the effects of mining causing steep banks and the need for reinforcements on the margins. For many years the river seemed sterile–a causeway for commerce.</p>

                                <p>Even though assailed by progress and abuse, the river survived.  With the advent of protective inland waters legislation the river has started to recover showing a great deal of beauty and aesthetic appeal.  Wildlife clings to the riparian areas along its banks and fishermen and hikers enjoy poking about on the margins. Riverside Park, in La Grande, borders the river to the west. The city has installed a short trail section near the river and a bridge that allows walkers and bikers to enjoy the vista from mid stream. Island City, about a mile down river to the east, plans to create another park similar to Riverside and to connect their park to La Grande’s with a Greenway.  City and county officials have secured some funds to pay for infrastructure and have drawn-up ideas about how the trail might hug the river from La Grande to Island City. How then is this a Community STEM challenge you might ask?</p>

                                <p>Engineers examined the planned route and then calculated the amount and kind of fill necessary, the make-up of the potential project bridge, and the composition and preparation for the path itself. The engineers alone could not conduct this work without considering the aesthetics, safety, legality, and utility of their design. Engineers must also consider the kind of materials and different technology available to solve specific problems: Whether to use metal netting to contain bank stabilizing riprap, the materials to be considered for a bridge and the long-term considerations for maintenance, and whether pre-fabricated, elevated concrete walkways may solve certain problems when placing the trail near the water.</p>

                                <p>The Greenway committee had to deal with the overall applied mathematics of the project. What were the features of each option and how would the committee recommend one route over another?  Surveys, rating systems, and statistical analyses were required to help bring the best solution forward. And, almost the most important variable, what were the costs associated with the project?  Careful prediction of cost per square foot of trail and each additional feature required had to be computed.</p>

                                <p>Science professionals assessed the natural ecosystem that were impacted by human intervention. Aquatic creatures and the riparian areas can be altered, damaged, or ruined. Understanding the science of the river system, the plants and animals, the water ebb and flow, and the riparian ecosystem becomes a critical part of understanding the river and concern for a human pathway.  Impact analyses, reports and permits are required to assess the scientific impact of the project.</p>

                                <p>Of course, the STEM disciplines only provided the background facts.  The city, county and State officials and landowners still have to consider property owners, easements, land use restrictions, and other technical matters.  The Greenway project is a real example of how STEM professionals inform and shape problem solving within a meaningful context. It is the kind of critical thinking we hope our students will do and the kind of learning we expect as they acquire knowledge and skills in the STEM disciplines.</p>

                                <p>STEM is more that just the four disciplines. It is the application of those disciplines in how we approach issues, problems and challenges by using each of these where applicable. Sometimes problems do not need the application of all STEM disciplines equally. Consider this example:</h4>

                                <p>Here we see engineers working on a problem looking for a specific solution. Although the science of CO2 build up, the mathematics of the rate of increase and the technology of the device are backdrops to this, we are concentrating on the engineering problem.</p>

                                <p>As we think about STEM, each discipline brings a different perspective to any issue. Scientists bring information, concepts, data and pure inquiry and skepticism to a challenge. Science is primarily interested in discovering why thing are and to discover laws and concepts that describe natural phenomena. Mathematicians have a similar perspective. How things can be described in algorithms or patterns is one way mathematicians work. For both scientists and mathematicians, application is not always a requirement. They can explore and discover without an imperative. Those interested in technology are usually more pragmatic. These professional use materials, methods and processes to do things in more efficient ways. Technologists often find new applications for circuits, devices or materials. Engineers are somewhat different. They are most always stimulated by a need, project or problem. Their interest is in figuring out a solution given the situation or sideboards to the problem.</p>

                                <h3>PANDEMIC</h3>

                                <p>It often takes all these perspectives when confronted with a problem. How is the current pandemic an issue for STEM? It is a perfect example. Scientists are scrambling to understand the virus and how it operates. They conduct experiments, do analyses and discover new information about the virus and how it effects people. These scientists include research doctors, immunologists, epidemiologists, virologists, and microbiologists. Mathematicians are scrambling to understand the impact of the diseases in terms of human concerns, infections, economic problems. These mathematicians include statisticians, modelers, and accountants. Technologists are scrambling to discover new ways to make masking materials to delimit the spread of the virus. They test new materials and find novel solutions to affixing masks and shield for protection. Engineers are scrambling to design machinery that can be used to better ventilate patients. The disease impacts lung capacity to transfer oxygen, so how can a machine be designed to better transfer the gas into the lungs without harming the patient. It takes all these professionals working together to address the challenge.</p>

                                <p>If you are interested in STEM and want to learn more about how STEM operates in real time, see <a href="https://sites.google.com/a/eou.edu/stem-stories/home">this site</a> for a series of stories and activities that demonstrate how these disciplines work together.​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh; margin-top: 2vh;">
    <div class="profile ">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md">
                        <h4><b>CAREERS.</b></h4>

                        <p>Information about STEM careers and the variety of jobs available in STEM? This page organizes that array of positions you can consider.</p>

                        <button class="btn coll-btn" type="button" data-toggle="collapse" data-target="#collapseCareer" aria-expanded="false" aria-controls="collapseExample">
                            Click to see!
                        </button>

                        
                        <div class="collapse" id="collapseCareer">
                            <div>
                                <br>

                                <p><b>How can you best understand the idea of STEM? One way is to see STEM in action in a real community project:</b></p>
                            
                                <h3>A River Greenway: A Community STEM Project</h3>
                                
                                <img src="/Greenway.webp" class="img-fluid" alt="the grande ronde river flowing between farmland">

                                <p>The Grande Ronde River once meandered through the large horst graben Grande Ronde Valley  in north east Oregon with oxbows much like that of the current path of Catherine Creek ( See the above photo).   In the late 1860’s a large loop of the Grande Ronde River was ditched to drain land for agriculture and to protect some residential and business developments from seasonal flooding.  To assist in logging, river was also dammed to the west, filled with floating logs and then each spring the dams would be exploded so logs would careen down the river gouging everything in their path. During the mid 20th century and up until the 1980’s the ditch or canal was mined for its sand and gravel.  As the years passed the canal deepened from the effects of mining causing steep banks and the need for reinforcements on the margins. For many years the river seemed sterile–a causeway for commerce.</p>

                                <p>Even though assailed by progress and abuse, the river survived.  With the advent of protective inland waters legislation the river has started to recover showing a great deal of beauty and aesthetic appeal.  Wildlife clings to the riparian areas along its banks and fishermen and hikers enjoy poking about on the margins. Riverside Park, in La Grande, borders the river to the west. The city has installed a short trail section near the river and a bridge that allows walkers and bikers to enjoy the vista from mid stream. Island City, about a mile down river to the east, plans to create another park similar to Riverside and to connect their park to La Grande’s with a Greenway.  City and county officials have secured some funds to pay for infrastructure and have drawn-up ideas about how the trail might hug the river from La Grande to Island City. How then is this a Community STEM challenge you might ask?</p>

                                <p>Engineers examined the planned route and then calculated the amount and kind of fill necessary, the make-up of the potential project bridge, and the composition and preparation for the path itself. The engineers alone could not conduct this work without considering the aesthetics, safety, legality, and utility of their design. Engineers must also consider the kind of materials and different technology available to solve specific problems: Whether to use metal netting to contain bank stabilizing riprap, the materials to be considered for a bridge and the long-term considerations for maintenance, and whether pre-fabricated, elevated concrete walkways may solve certain problems when placing the trail near the water.</p>

                                <p>The Greenway committee had to deal with the overall applied mathematics of the project. What were the features of each option and how would the committee recommend one route over another?  Surveys, rating systems, and statistical analyses were required to help bring the best solution forward. And, almost the most important variable, what were the costs associated with the project?  Careful prediction of cost per square foot of trail and each additional feature required had to be computed.</p>

                                <p>Science professionals assessed the natural ecosystem that were impacted by human intervention. Aquatic creatures and the riparian areas can be altered, damaged, or ruined. Understanding the science of the river system, the plants and animals, the water ebb and flow, and the riparian ecosystem becomes a critical part of understanding the river and concern for a human pathway.  Impact analyses, reports and permits are required to assess the scientific impact of the project.</p>

                                <p>Of course, the STEM disciplines only provided the background facts.  The city, county and State officials and landowners still have to consider property owners, easements, land use restrictions, and other technical matters.  The Greenway project is a real example of how STEM professionals inform and shape problem solving within a meaningful context. It is the kind of critical thinking we hope our students will do and the kind of learning we expect as they acquire knowledge and skills in the STEM disciplines.</p>

                                <p>STEM is more that just the four disciplines. It is the application of those disciplines in how we approach issues, problems and challenges by using each of these where applicable. Sometimes problems do not need the application of all STEM disciplines equally. Consider this example:</h4>

                                <p>Here we see engineers working on a problem looking for a specific solution. Although the science of CO2 build up, the mathematics of the rate of increase and the technology of the device are backdrops to this, we are concentrating on the engineering problem.</p>

                                <p>As we think about STEM, each discipline brings a different perspective to any issue. Scientists bring information, concepts, data and pure inquiry and skepticism to a challenge. Science is primarily interested in discovering why thing are and to discover laws and concepts that describe natural phenomena. Mathematicians have a similar perspective. How things can be described in algorithms or patterns is one way mathematicians work. For both scientists and mathematicians, application is not always a requirement. They can explore and discover without an imperative. Those interested in technology are usually more pragmatic. These professional use materials, methods and processes to do things in more efficient ways. Technologists often find new applications for circuits, devices or materials. Engineers are somewhat different. They are most always stimulated by a need, project or problem. Their interest is in figuring out a solution given the situation or sideboards to the problem.</p>

                                <h3>PANDEMIC</h3>

                                <p>It often takes all these perspectives when confronted with a problem. How is the current pandemic an issue for STEM? It is a perfect example. Scientists are scrambling to understand the virus and how it operates. They conduct experiments, do analyses and discover new information about the virus and how it effects people. These scientists include research doctors, immunologists, epidemiologists, virologists, and microbiologists. Mathematicians are scrambling to understand the impact of the diseases in terms of human concerns, infections, economic problems. These mathematicians include statisticians, modelers, and accountants. Technologists are scrambling to discover new ways to make masking materials to delimit the spread of the virus. They test new materials and find novel solutions to affixing masks and shield for protection. Engineers are scrambling to design machinery that can be used to better ventilate patients. The disease impacts lung capacity to transfer oxygen, so how can a machine be designed to better transfer the gas into the lungs without harming the patient. It takes all these professionals working together to address the challenge.</p>

                                <p>If you are interested in STEM and want to learn more about how STEM operates in real time, see <a href="https://sites.google.com/a/eou.edu/stem-stories/home">this site</a> for a series of stories and activities that demonstrate how these disciplines work together.​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
<div class="container-flex bootstrap snippets bootdey" style="margin-bottom: 2vh; margin-top: 2vh;">
    <div class="profile ">
        <div class="profile-body">
            <div class="profile-bio">
                <div class="row">
                    <div class="col-md">
                        <h4><b>PROFESSIONALS.</b></h4>

                        <p>Information that can connect you to the STEM professional that you need to talk with. This page helps you determine what sort of STEM professional you will need and how to connect with them.</p>

                        <button class="btn coll-btn" type="button" data-toggle="collapse" data-target="#collapseProf" aria-expanded="false" aria-controls="collapseExample">
                            Click to see!
                        </button>

                        
                        <div class="collapse" id="collapseProf">
                            <div>
                                <br>

                                <p><b>How can you best understand the idea of STEM? One way is to see STEM in action in a real community project:</b></p>
                            
                                <h3>A River Greenway: A Community STEM Project</h3>
                                
                                <img src="/Greenway.webp" class="img-fluid" alt="the grande ronde river flowing between farmland">

                                <p>The Grande Ronde River once meandered through the large horst graben Grande Ronde Valley  in north east Oregon with oxbows much like that of the current path of Catherine Creek ( See the above photo).   In the late 1860’s a large loop of the Grande Ronde River was ditched to drain land for agriculture and to protect some residential and business developments from seasonal flooding.  To assist in logging, river was also dammed to the west, filled with floating logs and then each spring the dams would be exploded so logs would careen down the river gouging everything in their path. During the mid 20th century and up until the 1980’s the ditch or canal was mined for its sand and gravel.  As the years passed the canal deepened from the effects of mining causing steep banks and the need for reinforcements on the margins. For many years the river seemed sterile–a causeway for commerce.</p>

                                <p>Even though assailed by progress and abuse, the river survived.  With the advent of protective inland waters legislation the river has started to recover showing a great deal of beauty and aesthetic appeal.  Wildlife clings to the riparian areas along its banks and fishermen and hikers enjoy poking about on the margins. Riverside Park, in La Grande, borders the river to the west. The city has installed a short trail section near the river and a bridge that allows walkers and bikers to enjoy the vista from mid stream. Island City, about a mile down river to the east, plans to create another park similar to Riverside and to connect their park to La Grande’s with a Greenway.  City and county officials have secured some funds to pay for infrastructure and have drawn-up ideas about how the trail might hug the river from La Grande to Island City. How then is this a Community STEM challenge you might ask?</p>

                                <p>Engineers examined the planned route and then calculated the amount and kind of fill necessary, the make-up of the potential project bridge, and the composition and preparation for the path itself. The engineers alone could not conduct this work without considering the aesthetics, safety, legality, and utility of their design. Engineers must also consider the kind of materials and different technology available to solve specific problems: Whether to use metal netting to contain bank stabilizing riprap, the materials to be considered for a bridge and the long-term considerations for maintenance, and whether pre-fabricated, elevated concrete walkways may solve certain problems when placing the trail near the water.</p>

                                <p>The Greenway committee had to deal with the overall applied mathematics of the project. What were the features of each option and how would the committee recommend one route over another?  Surveys, rating systems, and statistical analyses were required to help bring the best solution forward. And, almost the most important variable, what were the costs associated with the project?  Careful prediction of cost per square foot of trail and each additional feature required had to be computed.</p>

                                <p>Science professionals assessed the natural ecosystem that were impacted by human intervention. Aquatic creatures and the riparian areas can be altered, damaged, or ruined. Understanding the science of the river system, the plants and animals, the water ebb and flow, and the riparian ecosystem becomes a critical part of understanding the river and concern for a human pathway.  Impact analyses, reports and permits are required to assess the scientific impact of the project.</p>

                                <p>Of course, the STEM disciplines only provided the background facts.  The city, county and State officials and landowners still have to consider property owners, easements, land use restrictions, and other technical matters.  The Greenway project is a real example of how STEM professionals inform and shape problem solving within a meaningful context. It is the kind of critical thinking we hope our students will do and the kind of learning we expect as they acquire knowledge and skills in the STEM disciplines.</p>

                                <p>STEM is more that just the four disciplines. It is the application of those disciplines in how we approach issues, problems and challenges by using each of these where applicable. Sometimes problems do not need the application of all STEM disciplines equally. Consider this example:</h4>

                                <p>Here we see engineers working on a problem looking for a specific solution. Although the science of CO2 build up, the mathematics of the rate of increase and the technology of the device are backdrops to this, we are concentrating on the engineering problem.</p>

                                <p>As we think about STEM, each discipline brings a different perspective to any issue. Scientists bring information, concepts, data and pure inquiry and skepticism to a challenge. Science is primarily interested in discovering why thing are and to discover laws and concepts that describe natural phenomena. Mathematicians have a similar perspective. How things can be described in algorithms or patterns is one way mathematicians work. For both scientists and mathematicians, application is not always a requirement. They can explore and discover without an imperative. Those interested in technology are usually more pragmatic. These professional use materials, methods and processes to do things in more efficient ways. Technologists often find new applications for circuits, devices or materials. Engineers are somewhat different. They are most always stimulated by a need, project or problem. Their interest is in figuring out a solution given the situation or sideboards to the problem.</p>

                                <h3>PANDEMIC</h3>

                                <p>It often takes all these perspectives when confronted with a problem. How is the current pandemic an issue for STEM? It is a perfect example. Scientists are scrambling to understand the virus and how it operates. They conduct experiments, do analyses and discover new information about the virus and how it effects people. These scientists include research doctors, immunologists, epidemiologists, virologists, and microbiologists. Mathematicians are scrambling to understand the impact of the diseases in terms of human concerns, infections, economic problems. These mathematicians include statisticians, modelers, and accountants. Technologists are scrambling to discover new ways to make masking materials to delimit the spread of the virus. They test new materials and find novel solutions to affixing masks and shield for protection. Engineers are scrambling to design machinery that can be used to better ventilate patients. The disease impacts lung capacity to transfer oxygen, so how can a machine be designed to better transfer the gas into the lungs without harming the patient. It takes all these professionals working together to address the challenge.</p>

                                <p>If you are interested in STEM and want to learn more about how STEM operates in real time, see <a href="https://sites.google.com/a/eou.edu/stem-stories/home">this site</a> for a series of stories and activities that demonstrate how these disciplines work together.​</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<%- include('./frags/footer.ejs') %>
</body>
</html>