<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed;">
  <a class="navbar-brand" href="/" target="_self"><img src="/EOU-GOSTEM_logo_RGB.png" style="max-height: 7vh; " alt="eou go stem logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/" target="_self">Home</a>
      </li>
      <li class="nav-item "><a class="nav-link" href="/about" target="_self">About</a></li>
      <li class="nav-item "><a class="nav-link" href="/team" target="_self">Meet the Team</a><span class="sr-only">(current)</span></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          For You
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <a class="dropdown-item nav-link" href="/students" type="button">For Students</a>
          <a class="dropdown-item nav-link" href="/educators" type="button">For Educators</a>
          <a class="dropdown-item nav-link" href="/business" type="button">For Partners/Businesses</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="/lab" target="_self">Mobile Maker Lab</a></li>
      <li class="nav-item">
        <a class="nav-link" href="http://gostem.lend-engine.com/">Lending Library</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="/contact" target="_self">Contact Us</a></li>
    </ul>
  </div>
</nav>
  <!-- End of Navigation Bar -->